
<!--
{{postedStuff}}-->

<div class="jumbotron">
  <h1 class="display-4">{{ stock.companyName }}</h1>
  <p class="lead"> <strong> Latest Price: </strong>{{stock.latestPrice }}
<strong> Latest Price: </strong>{{stock.previousClose }}</p>
  
</div>






<!--
{{#each stock}}
    {{@key}} | {{this}} <br/>
{{/each}} -->