
<!--
{{postedStuff}}-->


{{!-- {{#each weather}}
    {{@key}} | {{this}} <br/>
{{/each}}  --}}

<div class="jumbotron">
  <!--
  <h1 class="display-4">{{ weather }}</h1>-->
  <h1 class="display-4">{{ weather.name}}</h1>
  
<strong> Visibility: </strong>{{weather.visibility }}</p>
<strong> Weather: </strong>{{weather.main.temp }}</p>
<strong> Wind: </strong>{{weather.wind.speed }}</p>
  
</div>







